{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "less$"]
      }
    ],
    ["transform-define", "./env-config.js"]
  ],
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "ignore": []
}
